[submodule "learning-hubs/english-hub"]
	path = learning-hubs/english-hub
	url = https://github.com/richardborgesdev/english-hub.git
[submodule "learning-hubs/web-hub"]
	path = learning-hubs/web-hub
	url = https://github.com/richardborgesdev/web-hub.git
[submodule "learning-hubs/design-hub"]
	path = learning-hubs/design-hub
	url = https://github.com/richardborgesdev/design-hub.git
[submodule "learning-hubs/mobile-hub"]
	path = learning-hubs/mobile-hub
	url = https://github.com/richardborgesdev/mobile-hub.git
[submodule "learning-hubs/games-hub"]
	path = learning-hubs/games-hub
	url = https://github.com/richardborgesdev/games-hub.git
[submodule "learning-hubs/architecture-hub"]
	path = learning-hubs/architecture-hub
	url = https://github.com/richardborgesdev/architecture-hub.git
